.classpath
.project
.settings
.metadata
.springBeans
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
*.log
*.db
*.csv
*~
.*~
*.db
src/main/java/dataBaseService/DatabaseService.java
