<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5level [%t] %d{HH:mm:ss.SSS} %logger{36} - %msg%n"/>
		</Console>
		
		<File name="File" fileName="test.log">
			<PatternLayout pattern="[%d{ISO8601} %-5level] %logger{36} - %msg%n"/>
		</File>
		<File name="Csv" fileName="test.csv">
			<PatternLayout pattern="%msg%n"/>
		</File>
	</Appenders>
	<Loggers>
	   	<Logger name="twitter.Test" level="info" additivity="false">
	 		<AppenderRef ref="Console"/>
	 	</Logger>
	 	
	 	<Logger name="javabandsintown" level="ERROR" additivity="false">
            <AppenderRef ref="File" />
        </Logger>   
	 	
	   <Root level="trace">
	     <AppenderRef ref="Console"/>
	     <AppenderRef ref="File" level="trace" />
	     <AppenderRef ref="Csv" level="info" />
	   </Root>
	</Loggers>
</Configuration>