body {
/* 			background : #555 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpi/P//PwM6YGLAAuCCmpqacC2MRGsHCDAA+fIHfeQbO8kAAAAASUVORK5CYII=); */
	font: 13px 'Lucida sans', Arial, Helvetica;
	color: #eee;
	text-align: center; 
/* 		    background-image: url("images/bgimage.jpg"); */
/* 		    background-repeat: no-repeat; */
   background: url("/images/bgimage.jpg") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#search-bar {
	position: absolute;
  	top: 30%;
/*   	transform: translateY(-50%); */
}

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
    height: 80px;
    font-size: 30px;
}

.input-group-lg > .input-group-btn > .btn{
	width: 100px;
}

table.table tr td {
  		font-size: 20px;
  		text-align:left;
}
    
table.table tr td a {
	color: white;
}
    
table.table thead tr th {
	font-size: 30px;
}

/*SEARCH BOX*/

a {
	color: #69C;
	text-decoration: none;
}
a:hover {
	color: #F60;
}
/*
h1 {
	font: 1.7em;
	line-height: 110%;
	color: #000;
}
*/
p {
	margin: 0 0 20px;
}


input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}

/* .table-fixed thead { */
/*   width: 97%; */
/* } */
/* .table-fixed tbody { */
/*   height: 230px; */
/*   overflow-y: auto; */
/*   width: 100%; */
/* } */
/* .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th { */
/*   display: block; */
/* } */
/* .table-fixed tbody td, .table-fixed thead > tr> th { */
/*   float: left; */
/*   border-bottom-width: 0; */
/* } */

/* #search-input { */0
/* 	height: 100px; */
/* } */
/* 		.form-wrapper { */
/* 		    width: 450px; */
/* 		    padding: 8px; */
/* 		    margin: 10px auto; */
/* 		    overflow: hidden; */
/* 		    border-width: 1px; */
/* 		    border-style: solid; */
/* 		    border-color: #dedede #bababa #aaa #bababa; */
/* 		    box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444; */
/* 		    border-radius: 10px;     */
/* 		    background-color: #f6f6f6; */
/* 		    background-image: linear-gradient(top, #f6f6f6, #eae8e8); */
/* 		} */
	
/* 		.form-wrapper #search { */
/* 		    width: 330px; */
/* 		    height: 20px; */
/* 		    padding: 10px 5px; */
/* 		    float: left;     */
/* 		    font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma'; */
/* 		    border: 1px solid #ccc; */
/* 		    box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff; */
/* 		    border-radius: 3px;       */
/* 		} */
		
/* 		.form-wrapper #search:focus { */
/* 		    outline: 0; */
/* 		    color: #000;  */
/* 		    border-color: #aaa; */
/* 		    box-shadow: 0 1px 1px #bbb inset;   */
/* 		} */
		
/* 		.form-wrapper #search::-webkit-input-placeholder { */
/* 		   color: #000; */
/* 		   font-weight: normal; */
/* 		} */
		
/* 		.form-wrapper #search:-moz-placeholder { */
/* 		    color: #000; */
/* 		    font-weight: normal; */
/* 		} */
		
/* 		.form-wrapper #search:-ms-input-placeholder { */
/* 		    color: #000; */
/* 		    font-weight: normal; */
/* 		}  */
		
/* 		.form-wrapper #submit { */
/* 		    float: right;     */
/* 		    border: 1px solid #00748f; */
/* 		    height: 42px; */
/* 		    width: 100px; */
/* 		    padding: 0; */
/* 		    cursor: pointer; */
/* 		    font: bold 15px Arial, Helvetica; */
/* 		    color: #fafafa; */
/* 		    text-transform: uppercase;     */
/* 		    background-color: #0483a0; */
/* 		    background-image: linear-gradient(top, #31b2c3, #0483a0); */
/* 		    -moz-border-radius: 3px; */
/* 		    -webkit-border-radius: 3px; */
/* 		    border-radius: 3px;       */
/* 		    text-shadow: 0 1px 0 rgba(0, 0 ,0, .3); */
/* 		    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff; */
/* 		} */
		  
/* 		.form-wrapper #submit:hover, */
/* 		.form-wrapper #submit:focus {        */
/* 		    background-color: #31b2c3; */
/* 		    background-image: linear-gradient(top, #0483a0, #31b2c3); */
/* 		}    */
		  
/* 		.form-wrapper #submit:active { */
/* 		    outline: 0;     */
/* 		    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;     */
/* 		} */
		  
/* 		.form-wrapper #submit::-moz-focus-inner { */
/* 		    border: 0; */
/* 		} */